<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="0.8.270" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Russinsoft.WebView2.Interop" version="1.0.0.1" targetFramework="net461" />
</packages>